{% extends 'base.html.twig' %}

{% block title %}Editer un pays{% endblock %}

{% block body %}
    <h1>Editer un pays</h1>

    {{ include('country/_form.html.twig', {'button_label': 'Modifier'}) }}

    {{ include('country/_delete_form.html.twig') }}
    <a href="{{ path('app_country_index') }}">Retour</a>

{% endblock %}
