{% extends 'base.html.twig' %}

{% block title %}Pays - Ajout{% endblock %}

{% block body %}
    <h1>ajouter un pays</h1>

    {{ include('country/_form.html.twig') }}

    <a href="{{ path('app_country_index') }}">Retour</a>
{% endblock %}
