<form method="post" action="{{ path('app_years_delete', {'id': year.id}) }}" onsubmit="return confirm('Voulez vous supprimer cet item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ year.id) }}">
    <button class="btn btn-danger">Supprimer</button>
</form>
