{% extends 'base.html.twig' %}

{% block title %}Année - Ajout{% endblock %}

{% block body %}
    <h1>Ajouter d'une année</h1>

    {{ include('years/_form.html.twig') }}

    <a href="{{ path('app_years_index') }}">Retour</a>
{% endblock %}
