<form method="post" action="{{ path('app_builder_delete', {'id': builder.id}) }}" onsubmit="return confirm('Voulez-vous supprimer cet item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ builder.id) }}">
    <button class="btn btn-danger">Supprimer</button>
</form>
