{% extends 'base.html.twig' %}

{% block title %}Constructeur - Ajouter{% endblock %}

{% block body %}
    <h1>Ajouter un constructeur</h1>

    {{ include('builder/_form.html.twig') }}

    <a href="{{ path('app_builder_index') }}">Retour</a>
{% endblock %}
