{% extends 'base.html.twig' %}

{% block title %}New Builder{% endblock %}

{% block body %}
    <h1>Create new Builder</h1>

    {{ include('builder/_form.html.twig') }}

    <a href="{{ path('app_builder_index') }}">back to list</a>
{% endblock %}
