{% extends 'base.html.twig' %}

{% block title %}Avion - Edition{% endblock %}

{% block body %}
    <h1>Editer un avion</h1>

    {{ include('aircraft/_form.html.twig', {'button_label': 'Enregistrer'}) }}
    {{ include('aircraft/_delete_form.html.twig') }}

    <a href="{{ path('app_aircraft_index') }}">Retour</a>

{% endblock %}
