<form method="post" action="{{ path('app_aircraft_type_delete', {'id': aircraft_type.id}) }}" onsubmit="return confirm('Voulez vous supprimer cet item ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ aircraft_type.id) }}">
    <button class="btn">Supprimer</button>
</form>
